@model IList<AgroSup.WebApp.ViewModels.AdminPanel.Plants.PlantViewModel>

@{
    ViewData["Title"] = "Rośliny";
    ViewData["Header"] = "Lista roślin dostępna w serwisie";
    ViewData["ActivePage"] = ManageMenu.PlantList;
    var message = @TempData["message"];
}

<div class="row">
    <partial name="_AdminMenuPartial" />
    <div class="col-md-10">
        <div class="container-md mx-4">
            <form>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!--- Content -->
                <p class="text-center" id="headerTitle">@ViewData["Header"]</p>
                <hr />
                @if (message != null)
                {
                    <partial name="_StatusMessage" model="message.ToString()" />
                }

                <table id="dtDynamicVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model[0].Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model[0].EfaNitrogenRate)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            <tr>
                                <td>
                                    <input asp-for="@Model[i].Id" type="hidden" />
                                    <div class="value">@Html.DisplayFor(model => @Model[i].Name)</div>
                                    <input asp-for="@Model[i].Name" style="display: none;" />
                                    <span asp-validation-for="@Model[i].Name" class="text-danger"></span>
                                </td>
                                <td>
                                    <div class="value">
                                        @Html.DisplayFor(model => @Model[i].EfaNitrogenRate)
                                    </div>
                                    <input asp-for="@Model[i].EfaNitrogenRate" style="display: none;" />
                                    <span asp-validation-for="@Model[i].EfaNitrogenRate" class="text-danger"></span>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-primary waves-effect waves-light submit m-0" onclick="saveRow.call(this)" style="display:none">Zapisz</a>
                                    <a class="btn btn-blue-grey waves-effect waves-light modify m-0" onclick="editRow.call(this)">Modifikuj</a>
                                    <button id="deleteBtn" class="btn btn-danger" onclick="deleteRow('@Model[i].Id')">Usuń</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!--- End content -->
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/md/js/addons/datatables.min.js"></script>

    <script>
        $(document).ready(function() {
    $('#dtDynamicVerticalScrollExample').DataTable({
        "scrollY": "50vh",
        "scrollX": true,
        "scrollCollapse": true,
        "bInfo": false,
        "iDisplayLength": 50,
        "columnDefs": [{
            "targets": [2],
            "orderable": false
        }],
        "oLanguage": {
            "sSearch": "Wyszukaj roślinę:",
            "sLengthMenu": "Wyświetl _MENU_ roślin",
            "sInfoEmpty": "Nie znaleziono żadnych roślin",
            "sZeroRecords": "Nie znaleziono żadnych roślin",
            "oPaginate": {
                "sNext": "Następna",
                "sPrevious": "Poprzednia",
            },
        }
    }).columns.adjust();
    $('.dataTables_length').addClass('bs-select');
});


function editRow() {
    var submitButton = $(this).siblings('.submit');
    var modifyButton = $(this);
    submitButton.show();
    modifyButton.hide();

    var row = $(this).parent().parent();
    row.find('input').each(function() {
        $(this).siblings('.value').text('');
        $(this).show();
    })
}

        function saveRow() {
            var modifyButton = $(this).siblings('.modify');
            var submitButton = $(this);
            submitButton.hide();

            var row = $(this).parent().parent();
            var id = row.find('input[name$=Id]').val();
            var name = row.find('input[name$=Name]').val();
            var efa = row.find('input[name$=EfaNitrogenRate]').val();

            $.ajax({
                async: true,
                data: "Id=" + id + "&name=" + name + "&EfaNitrogenRate=" + efa,
                type: "POST",
                url: '@Url.Action("Update", "AdminPlants")',
                success: function (partialView) {
                    modifyButton.show();

                    row.find('input').each(function () {
                        $(this).siblings('.value').text($(this).val());
                        $(this).hide();
                    })
                }
            });

        }
function deleteRow(ID) {
        event.preventDefault();
        var url = '@Url.Action("Delete", "AdminPlants", new { id = "Identifier" })';
        url = url.replace("Identifier", ID);

        bootbox.confirm({
            title: "Potwierdzenie",
            centerVertical: true,
            message: "Czy na pewno chcesz usunąć roślinę? Nie można cofnąć tej akcji.",
            buttons: {
                confirm: {
                    label: 'Usuń',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Anuluj',
                    className: 'btn-danger'
                }
            },
            callback: function(result) {
                if (result == true) {
                    {
                        window.location.replace(url);
                    }
                }
            }
        });
    }

    </script>
}


@section Styles {
    <link href="~/md/css/addons/datatables.min.css" rel="stylesheet">
    <style>
        table.dataTable thead .sorting:after,
        table.dataTable thead .sorting:before,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_asc:before,
        table.dataTable thead .sorting_asc_disabled:after,
        table.dataTable thead .sorting_asc_disabled:before,
        table.dataTable thead .sorting_desc:after,
        table.dataTable thead .sorting_desc:before,
        table.dataTable thead .sorting_desc_disabled:after,
        table.dataTable thead .sorting_desc_disabled:before {
            bottom: .5em;
        }
    </style>
}

