@model AgroSup.WebApp.ViewModels.Manages.Treatments.AddTreatmentViewModel
@{
    var options = (IEnumerable<SelectListItem>)@ViewData["operators"];
}
    <tr>
        <td>
            <div class="form-group">
                <select asp-items="@ViewBag.Kinds" asp-for="TreatmentKindId" class="form-control" onchange="showHideInputs.call(this)">
                    <option selected value="@Guid.Empty">Wybierz</option>
                </select>
                <span asp-validation-for="TreatmentKindId" class="text-danger" style="display: none"></span>
            </div>
        </td>
        <td>
            <div class="form-group">
                <input asp-for="Date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" disabled />
                <span asp-validation-for="Date" class="text-danger" style="display: none"></span>
            </div>
        </td>
        <td>
            <div class="form-group">
                <select asp-items="@ViewBag.Fields" asp-for="FieldId" class="form-control" disabled>
                    <option selected value=@Guid.Empty>Wybierz</option>
                </select>
                <span asp-validation-for="FieldId" class="text-danger" style="display: none"></span>
            </div>
        </td>
        <td>
            <div class="form-group">
                <input asp-for="Notes" class="form-control" disabled />
                <span asp-validation-for="Notes" class="text-danger" style="display: none"></span>
            </div>
        </td>
        <td>
            <div class="form-group">
                <input asp-for="DosePerHa" class="form-control" disabled />
                <span asp-validation-for="DosePerHa" class="text-danger" style="display: none"></span>
            </div>
        </td>
        <td>
            <div class="form-group">
                <input asp-for="SprayingAgents" class="form-control" disabled />
                <span asp-validation-for="SprayingAgents" class="text-danger" style="display: none"></span>
            </div>
        </td>
        <td>
            <div class="form-group">
                <select asp-items="@ViewBag.Fertilizers" asp-for="FertilizerId" class="form-control" disabled>
                    <option selected value=@Guid.Empty>Wybierz</option>
                </select>
                <span asp-validation-for="FertilizerId" class="text-danger" style="display: none"></span>
            </div>
        </td>
        <td>
            <div class="form-group ">
                <input asp-for="ReasonForUse" class="form-control" disabled />
                <span asp-validation-for="ReasonForUse" class="text-danger" style="display: none"></span>
            </div>
        </td>
        <td>
            <div class="col-auto align-self-center">
                <button onclick="removeParcel.call(this)" class="btn btn-danger">Usuń</button>
            </div>
        </td>
    </tr>
