@model IEnumerable<AgroSup.WebApp.ViewModels.Manages.Treatments.TreatmentViewModel>

@{
    ViewData["Title"] = "Lista zabiegów";
    ViewData["ActivePage"] = ManageMenu.TreatmentList;
    var message = @TempData["message"];
}


<div class="row">
    <partial name="_ManageMenuPartial" />
    <div class="col-md-10">
        <div class="container-md mx-4">
            <h2 class="text-center">Zabiegi </h2>
            <hr />
            @if (message != null)
            {
                <partial name="_StatusMessage" model="message.ToString()" />
            }
            <!--- Content -->
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FieldName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Notes)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DosePerHa)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FertilizerName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SprayingAgents)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ReasonForUse)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.FieldName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Notes)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.DosePerHa)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.FertilizerName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.SprayingAgents)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.ReasonForUse)
                        </td>
                        <td>
                            @Html.ActionLink("Edycja", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Usuń", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <!--- End content -->
        </div>
    </div>
</div>
