@model IEnumerable<AgroSup.WebApp.ViewModels.Fields.FieldViewModel>

@{
    ViewData["Title"] = "Lista pól";
}

<!--- Content -->
<div class="row">
    <partial name="_DataMenuPartial" />
    <div class="col-md-10">
        <div class="container-md mx-4">
            <h2 class="text-center">Twoje pola</h2>
            <hr />
            <div class="table-responsive">
                <table id="axs" class="text-center table w-75 mx-auto table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">@Html.DisplayNameFor(modelItem => modelItem.Number)</th>
                            <th scope="col">@Html.DisplayNameFor(modelItem => modelItem.Name)</th>
                            <th scope="col">@Html.DisplayNameFor(modelItem => modelItem.Area)</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td colspan="6">
                                    @Html.ActionLink("Utwórz nowe pole", "create", "fields", new { }, new { @class = "btn btn-info" })
                                </td>
                            </tr>
                        }
                        @foreach (var item in Model)
                        {
                    <tr>
                        @if (Model.First().Id == item.Id)
                        {
                            <td class="align-middle">
                                <i class="fas fa-sort-down fa-2x down" data-id="@item.Id"></i>
                            </td>
                        }
                        else if (Model.Last().Id == item.Id)
                        {
                            <td class="align-middle">
                                <i class="fas fa-sort-up fa-2x up" data-id="@item.Id"></i>
                            </td>
                        }
                        else
                        {
                            <td class="align-middle">
                                <p><i class="fas fa-sort-up fa-2x up" data-id="@item.Id"></i></p>
                                <p><i class="fas fa-sort-down fa-2x down" data-id="@item.Id"></i></p>
                            </td>
                        }

                        <td class="align-middle">@item.Number</td>
                        <td class="align-middle">@item.Name</td>
                        <td class="align-middle">@item.Area</td>
                        <td class="align-middle">@Html.ActionLink("Modyfikuj", "Edit", new { id = item.Id }, new { @class = "btn btn-block btn btn-secondary" }) </td>
                    </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    <!--- End content -->

    @section Scripts {
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <script>
        $(".up").on("click", function () {
            var id = $(this).data("id");
        $.ajax({
            async: true,
            data: "fieldId="+id+"&position=1",
            type: "POST",
            url: '@Url.Action("ChangeNumber", "Fields")',
            success: function (partialView) {
                location.reload();
            }
        });
        });

         $(".down").on("click", function () {
            var id = $(this).data("id");
        $.ajax({
            async: true,
            data: "fieldId="+id+"&position=2",
            type: "POST",
            url: '@Url.Action("ChangeNumber", "Fields")',
            success: function (partialView) {
                location.reload();
            }
        });
    });

        </script>
    }
