@model IEnumerable<AgroSup.WebApp.ViewModels.YearPlans.YearPlanViewModel>

@{
    ViewData["Title"] = "Plany sezonowe";
    int counter = 0;
}


<!--- Content -->
    <div class="row">
        <partial name="_DataMenuPartial" />
        <div class="col-md-10">
            <div class="container-md mx-4">
                <h2 class="text-center">Plany roczne</h2>
                <div class="table-responsive">
                    <table id="axs" class="text-center table w-75 mx-auto table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">@Html.DisplayNameFor(yearPlan => yearPlan.StartYear)</th>
                                <th scope="col">@Html.DisplayNameFor(yearPlan => yearPlan.EndYear)</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="align-middle">@(++counter)</td>
                                    <td class="align-middle">@Html.DisplayFor(modelItem => item.StartYear)</td>
                                    <td class="align-middle">@Html.DisplayFor(modelItem => item.EndYear)</td>
                                    <td class="align-middle">
                                        <form asp-action="SetManagedYearPlan" asp-controller="yearplans">
                                            <input type="hidden" name="id" value="@item.Id" />
                                            <input type="submit" value="Zarządzaj" class="btn btn-block btn btn-secondary" />
                                        </form>
                                        @*<button asp-action="SetManagedYearPlan" asp-route-id="@item.Id" asp-controller="yearplans" class = "btn btn-block btn btn-secondary">Zarządzaj</button>*@
                                    <td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<!--- End content -->
