@model IEnumerable<AgroSup.WebApp.ViewModels.Operators.OperatorViewModel>

@{
    ViewData["Title"] = "Osoby";
    int counter = 0;
}

<!--- Content -->
<div class="row">
    <partial name="_DataMenuPartial" />
    <div class="col-md-10">
        <div class="container-md mx-4">
            <h2 class="text-center">Osoby w gospodarstwie</h2>
            <div class="table-responsive">
                <table id="axs" class="text-center table w-75 mx-auto table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">@Html.DisplayNameFor(modelItem => modelItem.FirstName)</th>
                            <th scope="col">@Html.DisplayNameFor(modelItem => modelItem.LastName)</th>
                            <th scope="col">@Html.DisplayNameFor(modelItem => modelItem.ArimrNumber)</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th class="align-middle" scope="row">@(++counter)</th>
                                <td class="align-middle">@Html.DisplayFor(modelItem => item.FirstName)</td>
                                <td class="align-middle">@Html.DisplayFor(modelItem => item.LastName)</td>
                                <td class="align-middle">@Html.DisplayFor(modelItem => item.ArimrNumber)</td>
                                <td class="align-middle">@Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class = "btn btn-block btn btn-secondary" }) </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    <!--- End content -->
